@tailwind base;
@tailwind components;
@tailwind utilities;
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 20
}
.box-shadow{
  box-shadow: 0px 0px  15px rgb(80, 79, 79);
}
.bg-img{
  background-image: url("./assets/twitter.png");
  background-position: center;
  background-repeat: no-repeat;
  
}
.lxgw-wenkai-tc-bold {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 700;
  font-style: normal;
}
.open-sans-600 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.twitter-text{
  font-family: "TwitterChirpExtendedHeavy", "Verdana", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

}
select:focus{
  outline: none;
  box-shadow: none;
}
input:focus{
  
  box-shadow: none !important;


}
.box-shadow-none:focus{
  outline: none;
  box-shadow: none;
  

  
}
.box-shadow-none{
  outline: none;
  box-shadow: none;
  border:none;
  
}
.link{
  color: rgb(90, 90, 219);
}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 50,
  'opsz' 24,
  
 
} */
::-webkit-scrollbar{
  width: 0px;
 
}
::-webkit-scrollbar-thumb{
  width: 0px;
  background-color: rgb(0, 242, 255);
  border-radius: 20px;
  

}
::-webkit-scrollbar-track{

}


.PostIcons:nth-child(1):hover{
  color: rgb(40, 195, 247);
}
.PostIcons:nth-child(2):hover{
  color:rgb(14, 231, 14)
}
.PostIcons:nth-child(4):hover{
  color: rgb(21, 8, 211);
}
.PostIcons:nth-child(3):hover{
  color: rgb(240, 14, 14);
}


.specialIcons:nth-child(1):hover{
  color: rgb(255, 0, 187);
}
.specialIcons:nth-child(2):hover{
  color: rgb(21, 8, 211);
}